body{
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}
input{
    text-align:left;
}
form{
    display:flex;
    flex-direction: column;
    width: 30vw;

}
div{
    display:none;
}